## Reference: https://github.com/amannn/action-semantic-pull-request
name: "Lint PR"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

permissions:
  contents: read

jobs:
  main:
    permissions:
      pull-requests: read
      statuses: write
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          scopes: |
            deps
            docs
            github
            deployment
            external-secrets-refresher
            external-services
            releem-agent
          # Configure that a scope must always be provided.
          requireScope: false
